/* Estilo del contenedor principal */
.contact-container {
    text-align: center;
    padding: 40px 0;
  }
  
  /* Estilo de la caja de contenido */
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  /* Estilo del título */
  .content h1 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  /* Estilo del texto */
  .content p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  /* Estilo del formulario */
  form {
    text-align: left;
  }
  
  /* Estilo de los grupos de formulario */
  .form-group {
    margin-bottom: 20px;
  }
  
  /* Estilo de las etiquetas de formulario */
  label {
    font-weight: bold;
  }
  
  /* Estilo de los campos de formulario */
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }

  .button-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  /* Estilo del botón de envío */
  button[type="submit"] {
    padding: 12px 24px;
    font-size: 18px;
    margin: 0 10px;
    background-color: black; /* Color de fondo original #273556;*/
    color: #fff; /* Color de texto original */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s; /* Transición suave de color en 0.2 segundos */
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  /* Estilo del botón de envío en hover */
  button[type="submit"]:hover {
    background-color: #fff; /* Cambiar el color de fondo al blanco */
    color: #000; /* Cambiar el color de texto a negro */
  }
  