.app-navbar{
  height: 200px;
  position: absolute;
  width: 100vh;
}

mat-sidenav-container{
  position: absolute;
  /* height: 20% !important; */
  width: 100%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.mat-toolbar {
  display: flex;
  justify-content: space-between;
  background-color: white;
  color: black;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.logo {
  max-width: 180px;
  cursor: pointer;
}

.spacer {
  flex-grow: 1;
}

.sidenav-container {
  height: auto;
}

.sidenav {
  width: 250px;
}

.logo {
  max-width: 180px;
}

.mat-nav-list{
  display: flex !important;
}

a{
  font-size: 16px;
  text-align: center;
  cursor: pointer !important;
}



@media screen and (max-width: 768px) {
  .menuNormal {
    display: none;
  }
  .sidenav {
    width: 100%; /* Cambia el ancho de la barra lateral según tus necesidades */
  }
}

@media screen and (min-width: 768px) {
  .menuHamburguesa {
    display: none;
  }
  .sidenav {
    width: 250px; /* Cambia el ancho de la barra lateral según tus necesidades */
  }
}

