<div class="container text-center g-max-width-750 g-pt-70">
    <div class="container text-center g-max-width-750 g-mb-0">
        <div class="text-uppercase g-mb-30">
            <h3 class="h3 g-letter-spacing-5 g-font-size-12 g-font-weight-400 g-color-black g-mb-25" style="font-family:Poppins;">Todas estas personas están esperando a participar en tus proyectos</h3>
            <div style="display: flex;align-items: center;justify-content: center;">
            <h2 class="u-heading-v2__title g-line-height-1 g-letter-spacing-2 g-font-size-30 g-font-size-40--md g-color-black mb-0" style="font-family:Poppins;">Peticiones</h2>
            </div>
        </div>
    </div>
</div>
<div *ngIf="loading" style="display: flex;justify-content: center;width: 100%;">
    <div class="spinner"></div>
</div>
<div style="height: 50vh;">
    <div *ngIf="peticionesSinLeer.length == 0 && loading == false" style="display: flex;justify-content: center;width: 100%;flex-direction: column;align-items: center;">
        <h4>No tienes peticiones pendientes</h4>
    </div>
</div>
<!-- LISTA PETICIONES -->
<div class="projectLis-wrapper">
    <div class="project-wrapper" *ngFor="let item of peticionesSinLeer">
        <div style="display: flex;flex-direction: column;width: 100%;">
            <label style="font-weight: bold;display: flex;flex-direction: column;">De: <p style="font-weight: 100;margin-left: 5px;">{{item.nombre}} ({{item.mailPeticion}})</p></label>
            <label style="font-weight: bold;display: flex;flex-direction: column;">Proyecto: <p style="font-weight: 100;margin-left: 5px;">{{item.nombreProyecto}}</p></label>
            <label style="font-weight: bold;display: flex;flex-direction: column;">Mensaje: <p style="font-weight: 100;margin-left: 5px;">{{item.mensaje}}</p></label>
            <div style="display:flex;flex-direction:column;justify-content:center;align-items: center;">
                <div class="infobottom g-font-size-12 g-my-10 g-pl-10">
                    <div>
                        <button (click)="acceptPeticion(item)" style="border: 1px solid black !important;" class="btn btn-md g-bg-black g-color-white g-bg-white--hover g-color-black--hover u-btn-outline-white g-mr-10 g-mt-10">Aceptar</button>
                        <button (click)="declinePeticion(item)" style="border: 1px solid black !important;" class="btn btn-md g-bg-black g-color-white g-bg-white--hover g-color-black--hover u-btn-outline-white g-mr-10 g-mt-10">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<popup-acceptpeticion *ngIf="showPopupAcceptPeticion"  (closePopUp)=closePopUpAcceptTarea() [decline]=decline></popup-acceptpeticion>