*{
    text-decoration: none;
}

.projectLis-wrapper{
    display: flex;
    flex-direction: row;
    width: 80vw;
    margin: auto;
    padding-top: 30px;
}
.project-wrapper{
    width: 450px;
    display: flex;
    margin-bottom: 80px;
    margin: 15px;
    border: 1px solid rgba(167, 167, 167, 0.8) !important;
    padding: 10px;
    box-shadow: 0 15px 6px -6px rgb(0 0 0 / 15%) !important;
    border-color: rgba(207, 207, 207, 0.8) !important;
}

.infobottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: black;
  
    animation: spin 1s ease infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }