<div class="popupWrapper">
    <div class="popupCard">
        <div class="popupHeader">
            <div class="popupTitle">
                <h3>Eventos {{startDate}}</h3>
            </div>
            <button type="button" class="close" (click)="closeModal()">
                <i class="hs-icon hs-icon-close"></i>
            </button>
        </div>
        <div class="popupContent">
            <!-- Find a Course -->
            <div class="g-bg-img-hero g-bg-pos-top-center g-pos-rel g-z-index-1 g-mt-minus-150">
                <div class="container g-pt-150 g-pb-30">
                <form class="row">
                    <div class="col-xl-12 g-mb-30">
                        <div class="row">
                            <div class="col-sm-12 g-mb-50">
                                <!-- NOMBRE -->
                                <div class="form-group g-mb-30">
                                    <label class="g-mb-10">Titulo</label>
                                    <input id="inputGroup1_1" class="form-control form-control-md rounded-0" type="text" placeholder="" name="name" [(ngModel)]="newEvent.title">
                                    <small class="form-text text-muted g-font-size-default g-mt-10 g-mb-30">Pon titulo al evento</small>
                                </div>
                            </div>

                            <div class="col-sm-6 g-mb-50">
                                <!-- HORA INCIO -->
                                <div class="form-group g-mb-30">
                                    <label class="g-mb-10" for="inputGroup1_133">Hora de Inicio</label>
                                    <div style="display: flex;">
                                        <input style="width: 50px;" id="col-sm-6 inputGroup1_133" class="form-control form-control-md rounded-0" type="tiempoHora" placeholder="12" name="hora" [(ngModel)]="newEvent.tiempoHora">
                                        <input style="width: 50px;" id="col-sm-6 inputGroup1_133" class="form-control form-control-md rounded-0" type="tiempoMinuto" placeholder="30" name="minuto" [(ngModel)]="newEvent.tiempoMinuto">
                                    </div>
                                    <small class="form-text text-muted g-font-size-default g-mt-10 g-mb-30">A qué hora comienza el evento</small>
                                </div>
                            </div>

                            <div class="col-sm-6 g-mb-50">
                                <!-- HORA FINAL -->
                                <div class="form-group g-mb-30">
                                    <label class="g-mb-10" for="inputGroup1_133">Hora de Fin</label>
                                    <div style="display: flex;">
                                        <input style="width: 50px;" id="col-sm-6 inputGroup1_133" class="form-control form-control-md rounded-0" type="tiempoHoraFin" placeholder="12" name="horaFin" [(ngModel)]="newEvent.tiempoHoraFin">
                                        <input style="width: 50px;" id="col-sm-6 inputGroup1_133" class="form-control form-control-md rounded-0" type="tiempoMinutoFin" placeholder="30" name="minutoFin" [(ngModel)]="newEvent.tiempoMinutoFin">
                                    </div>
                                    <small class="form-text text-muted g-font-size-default g-mt-10 g-mb-30">Cuándo acaba el evento</small>
                                </div>
                            </div>


                            <div class="col-sm-12 g-mb-50">
                                <!-- DESCRIPCIÓN -->
                                <div class="form-group g-mb-30">
                                    <label class="g-mb-10" for="inputGroup2_1">Descripción</label>
                                    <textarea id="inputGroup2_1" class="form-control form-control-md g-resize-none rounded-0" rows="3" placeholder="" name="decription" [(ngModel)]="newEvent.description"></textarea>
                                    <small class="form-text text-muted g-font-size-default g-mt-10 g-mb-30">Describe el evento con más detalle</small>
                                </div>
                            </div>

                            <div class="col-sm-12 g-mb-50" style="width: 100%;display: flex;justify-content: center;">
                                <!-- BOTON -->
                                <div class="g-mt-30 g-mb-30" style="width: 100%;">
                                    <div style="width: 100%;display:flex;justify-content: center;align-items: center;">
                                        <button *ngIf="!isReading" (click)="createEvent()" style="width: 100px;" class="btn btn-block u-shadow-v32 g-brd-black g-brd-2 g-color-black g-bg-white g-brd-black--hover g-bg-black--hover g-color-white--hover g-font-size-16 g-rounded-30 g-py-10 ml-2 g-mt-0" type="button">Crear</button>
                                        <button *ngIf="isReading" (click)="click_EditEvent()" style="width: 100px;" class="btn btn-block u-shadow-v32 g-brd-black g-brd-2 g-color-black g-bg-white g-brd-black--hover g-bg-black--hover g-color-white--hover g-font-size-16 g-rounded-30 g-py-10 ml-2 g-mt-0" type="button">Editar</button>
                                        <button *ngIf="isReading" (click)="click_DeleteEvent()" style="width: 100px;" class="btn btn-block u-shadow-v32 g-brd-black g-brd-2 g-color-black g-bg-white g-brd-black--hover g-bg-black--hover g-color-white--hover g-font-size-16 g-rounded-30 g-py-10 ml-2 g-mt-0" type="button">Eliminar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                </div>
            </div>
            <!-- End Find a Course -->
        </div>
    </div>
</div>

<style>
    .popupWrapper{
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0,0.7);
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top:0;
        left: 0;
        z-index: 1000;
        animation-name: showPopUp;
        animation-duration: 0.5s;
    }
    @keyframes showPopUp {
        from {}
        to {}
    }
    .popupCard{
        width: 60vw;
        height: auto;
        background-color: white;
        display: flex;
        flex-direction: column;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 4px 10px rgba(0, 0, 0, 0.2);
        animation-name: showPopUpCard;
        animation-duration: 0.8s;
        z-index: 1001;
        border-radius: 20px;
    }
    @keyframes showPopUpCard {
        from {transform: scale(0.8);opacity: 10%; z-index: 1001;}
        to {transform: scale(1);opacity: 100%;}
    }
    .popupHeader{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 90%;
        height: 10%;
        padding-top: 15px;
    }
    .popupTitle{
        min-width: 90%;
        display: flex;
        justify-content: center;
        text-align: center;
        padding-top: 5px;
    }
    .popupContent {
        width: 100%;
        height: 80vh;
        padding: 50px 15%;
        overflow: auto;
    }
</style>