<div class="home-container">
  <div class="parallax-background">
    <img src="../../../assets/img/principal.PNG" alt="Imagen de fondo" class="background-image">
  </div>
  <div class="content">
    <!-- Título y texto -->
    <div class="content-text">
      <h1 class="title">Tu portal hacia la Autogestión</h1>
      <p>En AppoyoMutuo.com,<br> creemos en un futuro donde las personas trabajen juntas para construir un mundo más justo y equitativo.
        <br>
        <br>
        Como piezas de un gran puzzle, nuestra misión es conectar a personas como tú con iniciativas que promueven la solidaridad, la sostenibilidad y la participación activa en una nueva forma de consumo
        que puede cambiar la forma en que vivimos.
        <br>
        <br>
        ¡Únete al movimiento de autogestión global, busca los proyectos que más encajen con tus necesidades y empieza el cambio ya!
      </p>
    </div>
    <!-- Botones de acción -->
    <div class="action-buttons">
      <button class="action-button" (click)="navigateToFAQ()">
        <mat-icon class="icon-small">lightbulb</mat-icon> 
        <span class="button-text">Saber más</span>
      </button>
      <button class="action-button" (click)="navigateToProjects()">
        <mat-icon class="icon-small">menu</mat-icon> 
        <span class="button-text">Ver proyectos</span>
      </button>
      <button class="action-button" (click)="navigateToNewProjectForm()">
        <mat-icon class="icon-small">addcircle</mat-icon> 
        <span class="button-text">Formulario para grupos</span>
      </button>
    </div>
  </div>
</div>
