/* Estilo del contenedor principal */
.home-container {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

/* Estilo de la imagen de fondo */
.background-image {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 45vw;
  height: 60vh; /* Ajusta la altura automáticamente */
  object-fit: cover;
  z-index: -1;
}

/* Estilo del contenido */
.content {
  text-align: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  max-width: 566px;
  margin: 20px auto;
  margin-bottom: 150px;
  margin-left: 50%;
  margin-top: 5%;
}

.title {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 12px;
  color: #333; /* Color del título */
}


/* Estilo de la caja de texto */
.content-text {
  padding: 20px;
  padding-top: 15px;
  line-height: 1.6; 
}

/* Estilo del título */
.content-text h1 {
  font-size: 36px;
  margin-bottom: 20px; /* Reduce el espacio inferior */
}

/* Estilo del texto */
.content-text p {
  font-size: 18px;
}

/* Estilo de los botones de acción */
.action-buttons {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row; /* Cambia la dirección de la columna en dispositivos más pequeños */
  align-items: center; /* Centra los elementos en dispositivos más pequeños */
  margin-bottom: 30px;
}

/* Estilo de los botones de acción */
.action-button {
  padding: 12px 24px;
  font-size: 18px;
  margin: 0 10px;
  margin-bottom: 10px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s, color 0.2s;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

/* Estilo cuando el cursor está sobre el botón */
.action-button:hover {
  background-color: #fff;
  color: #000;
}

/* Estilo para los íconos pequeños */
.icon-small {
  margin-right: 4px;
  margin-bottom: -6px;
}

/* Estilo para el texto del botón */
.button-text {
  font-size: 16px;
  margin-bottom: 14px;
}

@media (max-width: 768px) {
  /* Cambios de diseño para dispositivos de tamaño de tablet o menor */
  .background-image {
    height: auto; /* Ajusta la altura automáticamente */
    width: 100%;
    height: 50vh;
    top: 0;
    left: 0;
  }

  .content {
    margin: auto;
    margin-bottom: 60px; /* Ajusta el espacio inferior */
    margin-top: 40vh;
  }

  .content-text {
    padding: 20px;
    text-align: center; /* Centra el texto */
    max-width: 90%; /* Redefine el ancho de la caja de texto */
    margin: 0 auto; /* Centra la caja de texto horizontalmente */
  }
}
