<div class="header">
  <h1 class="title">Proyectos</h1>
  <p class="subtitle">
    Las piezas que hacen falta
  </p>
</div>
<div class="content">
  <!-- Título y texto -->
  <div class="content-text">
    <h1 class="projects-title">Explorando Nuestra Comunidad</h1>
    <p class="projects-text">
      En esta fase inicial de AppoyoMutuo.com, observarás que la sección de proyectos está vacía. Esto se debe a que estamos centrados en reunir y conectar a grupos que comparten nuestros valores antes de mostrar proyectos específicos.
    </p>
    <p class="projects-text">
      Si tú y tu grupo están comprometidos con la autogestión, el apoyo mutuo o valores similares, los invitamos a unirse a nuestra comunidad y formar parte de esta emocionante iniciativa.
    </p>
  </div>
  <!-- Botones de acción -->
  <div class="action-buttons">
    <button class="action-button" (click)="navigateToNewProjectForm()">
      <mat-icon class="icon-small">addcircle</mat-icon> 
      <span class="button-text">Formulario de Inscripción</span>
    </button>
  </div>
</div>
