<section id ="home" class="g-pt-100 g-pb-40">
  <div class="row">
    <div class="col-lg-6 g-mb-60">
      <img class="img-fluid" src="../../../assets/img/imagenes/principal.jpg" alt="Image Description">
    </div>
    <div class="col-lg-6 g-mb-60">
      <div class="mb-4">
        <h2 class="h3 text-uppercase mb-3">APPOYO MUTUO</h2>
        <div class="g-width-60 g-height-1 g-bg-black"></div>
      </div>
      <blockquote class="u-blockquote-v4 g-color-primary--before g-color-primary--after g-font-size-35 g-line-height-1_8 g-mb-30">
        El próximo gran salto evolutivo de la humanidad será descubrir que
        <span class="g-brd-bottom--dotted g-brd-2 g-brd-primary g-color-primary g-pb-5">Cooperar</span>
        es mejor que
        <span class="g-brd-bottom--dotted g-brd-2 g-brd-primary g-color-primary g-pb-5" style="text-decoration:line-through;">Competir</span>
      </blockquote>
      <h4 class="h6 g-font-weight-700 text-uppercase g-mb-0">
        <span class="d-inline-block g-width-40 g-height-2 g-bg-primary g-pos-rel g-top-minus-3 mr-2"></span>
        Anónimo
      </h4>
      <div style="margin-top: 50px;display: flex;justify-content: center;">
        <a href="/buscador" class="btn btn-md g-bg-black g-color-white g-bg-white--hover g-color-black--hover u-btn-outline-black g-mr-10 g-mt-5">Buscar Proyectos</a>
        <a href="/creador" class="btn btn-md g-bg-black g-color-white g-bg-white--hover g-color-black--hover u-btn-outline-black g-mr-10 g-mt-5">Crear Proyecto</a>
      </div>
      <!-- <a class="btn btn-xl u-btn-outline-black g-font-size-default mr-2" href="#">Explore more</a>
      <a class="btn btn-xl u-btn-primary g-font-size-default" href="#">Purchase Now</a> -->
    </div>
  </div>
</section>