<section style="display: none;" id ="home" class="g-pt-100 g-pb-40 g-bg-gray-light-v5">
  <div class="row">
    <div class="col-lg-6 g-mb-60">
      <img class="img-fluid" src="../../../assets/img/imagenes/principal.jpg" alt="Image Description">
    </div>
    <div class="col-lg-6 g-mb-60">
      <div class="mb-4">
        <h2 class="h3 text-uppercase mb-3">APPOYO MUTUO</h2>
        <div class="g-width-60 g-height-1 g-bg-black"></div>
      </div>
      <blockquote class="u-blockquote-v4 g-color-primary--before g-color-primary--after g-font-size-35 g-line-height-1_8 g-mb-30">
        El próximo gran salto evolutivo de la humanidad será descubrir que
        <span class="g-brd-bottom--dotted g-brd-2 g-brd-primary g-color-primary g-pb-5">Cooperar</span>
        es mejor que
        <span class="g-brd-bottom--dotted g-brd-2 g-brd-primary g-color-primary g-pb-5" style="text-decoration:line-through;">Competir</span>
      </blockquote>
      <h4 class="h6 g-font-weight-700 text-uppercase g-mb-0">
        <span class="d-inline-block g-width-40 g-height-2 g-bg-primary g-pos-rel g-top-minus-3 mr-2"></span>
        Anónimo
      </h4>
      <div style="margin-top: 50px;display: flex;justify-content: center;">
        <!-- <button href="/buscador" class="btn btn-block u-shadow-v32 g-brd-white g-brd-2 g-color-white g-bg-black g-brd-black--hover g-bg-white--hover g-color-black--hover g-font-size-16 g-rounded-30 g-py-10 ml-2 g-mt-0" type="button">Buscar Proyectos</button> -->
        <a href="/buscador" style="width: 200px;" class="btn btn-block u-shadow-v32 g-brd-black g-brd-2 g-color-white g-bg-black g-brd-black--hover g-bg-white--hover g-color-black--hover g-font-size-16 g-rounded-30 g-py-10 ml-2 g-mt-0">Buscar Proyectos</a>
        <a href="/creador" style="width: 200px;" class="btn btn-block u-shadow-v32 g-brd-black g-brd-2 g-color-white g-bg-black g-brd-black--hover g-bg-white--hover g-color-black--hover g-font-size-16 g-rounded-30 g-py-10 ml-2 g-mt-0">Crear Proyecto</a>
      </div>
      <!-- <a class="btn btn-xl u-btn-outline-black g-font-size-default mr-2" href="#">Explore more</a>
      <a class="btn btn-xl u-btn-primary g-font-size-default" href="#">Purchase Now</a> -->
    </div>
  </div>
</section>

<div style="display: none;" class="g-bg-gray-light-v5">
  <section class="u-bg-overlay g-flex-centered g-min-height-90vh g-bg-img-hero g-bg-black-opacity-0_5--after g-py-80" style="background-image: url(../../../assets/img/imagenes/principal.jpg); width: 90vw;margin:auto">
    <div class="container text-center u-bg-overlay__inner">
      <h2 class="text-uppercase g-line-height-1 g-font-weight-700 g-font-size-30 g-color-white g-mb-20">Most quality solution for you</h2>
  
      <p class="g-color-white-opacity-0_8 g-mb-35">Morbi a suscipit ipsum. Suspendisse mollis libero ante. Pellentesque finibus convallis nulla vel placerat.</p>
  
      <a href="#" class="btn btn-lg u-btn-outline-white text-uppercase g-font-weight-700 g-font-size-12 g-rounded-50 g-py-15 g-px-40 g-mb-15 g-mr-30--md">Try trial version</a>
      <div class="g-hidden-md-up"></div>
      <a href="#" class="btn btn-lg u-btn-primary text-uppercase g-font-weight-700 g-font-size-12 g-rounded-50 g-py-15 g-px-40 g-mb-15">Buy full version</a>
    </div>
  </section>
</div>


<div style="display: none; background-image: url('../../assets/img/bg/pattern3.png');width: 90vw;margin: auto;" class="row align-items-stretch no-gutters g-bg-black-opacity-0_9 g-min-height-80vh">
  <div class="col-lg-6 g-bg-img-hero g-min-height-400" style="background-image: url('../../../assets/img/imagenes/principal.jpg');background-size: contain !important;"></div>

  <div class="col-lg-6 align-self-center g-pa-50">
    <div style="display: flex;align-items: center;">
      <img class="g-width-70 g-height-70 g-mb-30" src="../../../assets/img/imagenes/PiezaLogoPequeñoBlanca.PNG" alt="Image Description">
      <div style="display: flex;flex-direction: column;margin-left: 20px;">
        <h3 style="color: white; margin-bottom: 0px;"> APPOYO MUTUO</h3>
        <p style="color: white;">Red de Proyectos para la Autogestión</p>
      </div>
    </div>

    <blockquote style="color: white !important;" class="u-blockquote-v4 g-color-white--before g-color-white--after g-font-size-35 g-line-height-1_8 g-mb-30">
      El próximo gran salto evolutivo de la humanidad será descubrir que
      <span class="g-brd-bottom--dotted g-brd-2 g-brd-white g-color-white g-pb-5">Cooperar</span>
      es mejor que
      <span class="g-brd-bottom--dotted g-brd-2 g-brd-white g-color-white g-pb-5" style="text-decoration:line-through;">Competir</span>
    </blockquote>
    <h4 style="color: white !important;" class="h6 g-font-weight-700 text-uppercase g-mb-0">
      <span style="color: white !important;" class="d-inline-block g-width-40 g-height-2 g-bg-white g-pos-rel g-top-minus-3 mr-2"></span>
      Anónimo
    </h4>
    <div style="margin-top: 50px;display: flex;justify-content: center;flex-wrap: wrap;">
      <!-- <button href="/buscador" class="btn btn-block u-shadow-v32 g-brd-white g-brd-2 g-color-white g-bg-black g-brd-black--hover g-bg-white--hover g-color-black--hover g-font-size-16 g-rounded-30 g-py-10 ml-2 g-mt-0" type="button">Buscar Proyectos</button> -->
      <a href="/buscador" style="width: 200px;margin-bottom: 10px;" class="btn btn-block u-shadow-v32 g-brd-white g-brd-2 g-color-black g-bg-white g-brd-white--hover g-bg-black--hover g-color-white--hover g-font-size-16 g-rounded-30 g-py-10 ml-2 g-mt-0">Buscar Proyectos</a>
      <a href="/creador" style="width: 200px;margin-bottom: 10px;" class="btn btn-block u-shadow-v32 g-brd-white g-brd-2 g-color-black g-bg-white g-brd-white--hover g-bg-black--hover g-color-white--hover g-font-size-16 g-rounded-30 g-py-10 ml-2 g-mt-0">Crear Proyecto</a>
    </div>
  </div>
</div>

<div id ="home" style="display: flex;flex-direction:column; align-items: center;justify-content: center;">
  <div class="" style="background-image: url('../../../assets/img/imagenes/principal.jpg');background-size: contain !important;width: 70vw;height: 85vh;background-repeat: no-repeat;margin: auto;"></div>
  <section class="container g-pb-60">
    <!-- Heading -->
    <div class="row justify-content-center text-center g-mb-50">
      <div class="col-lg-9">
        <div style="width:100%; display: flex;justify-content: center;align-items: center;flex-wrap: wrap;">
          <img class="g-width-70 g-height-70 g-mb-30 g-mr-10" src="../../../assets/img/imagenes/PiezaLogoPequeño.PNG" alt="Image Description">
          <h2 class="h2 g-color-black g-font-weight-600 mb-2">ERES LA PIEZA QUE HACE FALTA</h2>
        </div>
        <!-- <div class="d-inline-block g-width-30 g-height-2 g-bg-primary mb-2"></div> -->
        <p class="lead mb-0">Forma parte de la Red Mundial de Proyectos para la Autogestión</p>
      </div>
    </div>
    <!-- End Heading -->

    <div class="row">
      <!-- BUSCAR -->
      <div class="col-sm-6 col-lg-4 g-mb-30">
        <article>
          <img class="img-fluid w-100" src="../../assets/img-temp/400x270/img7.jpg" alt="Image Description">
          <div class="g-width-80x g-bg-white g-pos-rel g-z-index-1 g-pa-30 g-mt-minus-50 mx-auto">
            <h2 class="h5 g-color-black g-font-weight-600 mb-3">
                <p class="u-link-v5 g-color-black g-color-primary--hover g-cursor-pointer" style="text-align: center;height: 80px;" href="/buscador">Busca proyectos que sirvan para tu autogestión</p>
              </h2>
            <p class="g-color-gray-dark-v4 g-line-height-1_8" style="text-align: center;height: 130px;">Entra en nuestro buscador y únete a los proyectos que más te interesen. Puedes unirte de varias formas. ¡Descúbrelo!</p>
            <a href="/buscador" style="width: 200px;margin-bottom: 10px;" class="btn btn-block u-shadow-v32 g-brd-black g-brd-2 g-color-white g-bg-black g-brd-black--hover g-bg-white--hover g-color-black--hover g-font-size-16 g-rounded-30 g-py-10 ml-2 g-mt-0">Buscar Proyectos</a>
          </div>
        </article>
      </div>

      <!-- CREAR -->
      <div class="col-sm-6 col-lg-4 g-mb-30">
        <article>
          <img class="img-fluid w-100" src="../../assets/img-temp/400x270/img3.jpg" alt="Image Description">
          <div class="g-width-80x g-bg-white g-pos-rel g-z-index-1 g-pa-30 g-mt-minus-50 mx-auto">
            <h2 class="h5 g-color-black g-font-weight-600 mb-3">
                <p class="u-link-v5 g-color-black g-color-primary--hover g-cursor-pointer" style="text-align: center;height: 80px;" href="#">Crea un proyecto de cero o fomenta uno ya existente</p>
              </h2>
            <p class="g-color-gray-dark-v4 g-line-height-1_8" style="text-align: center;height: 130px;">¿Siempre has querido poner un proyecto en marcha?, ¿ya tienes uno funcionando y quieres que se una más gente? ¡Esta es tu oportunidad!</p>
            <a href="/creador" style="width: 200px;margin-bottom: 10px;" class="btn btn-block u-shadow-v32 g-brd-black g-brd-2 g-color-white g-bg-black g-brd-black--hover g-bg-white--hover g-color-black--hover g-font-size-16 g-rounded-30 g-py-10 ml-2 g-mt-0">Crear Proyecto</a>
          </div>
        </article>
      </div>

      <!-- INFO -->
      <div class="col-sm-6 col-lg-4 g-mb-30">
        <article>
          <img class="img-fluid w-100" src="../../assets/img-temp/400x270/img3.jpg" alt="Image Description">
          <div class="g-width-80x g-bg-white g-pos-rel g-z-index-1 g-pa-30 g-mt-minus-50 mx-auto">
            <h2 class="h5 g-color-black g-font-weight-600 mb-3">
                <p class="u-link-v5 g-color-black g-color-primary--hover g-cursor-pointer" style="text-align: center;height: 80px;" href="#">Infórmate acerca de la iniciativa</p>
              </h2>
            <p class="g-color-gray-dark-v4 g-line-height-1_8" style="text-align: center;height: 130px;">Appoyo Mutuo es un proyecto sin ánimo de lucro. ¿Quieres saber qué nos ha movido a crearlo?</p>
            <a href="/informacion" style="width: 200px;margin-bottom: 10px;" class="btn btn-block u-shadow-v32 g-brd-black g-brd-2 g-color-white g-bg-black g-brd-black--hover g-bg-white--hover g-color-black--hover g-font-size-16 g-rounded-30 g-py-10 ml-2 g-mt-0">Información</a>
          </div>
        </article>
      </div>
    </div>
  </section>
</div>