<div class="projectLis-wrapper" *ngIf="cards.length > 0">
    <div class="project-wrapper" *ngFor="let item of cards">
        <div class="row">
            <div class="col-lg">
                <div id="shortcode8">
                    <div class="shortcode-html">
                        <!-- Box Shadow -->
                        <div style="cursor: pointer;padding-top:0px !important;" class="imagebox u-shadow-v2 g-mb-30 g-pt-20">
                            <img class="" src="{{item.imagenes[0]}}" alt="Image Description">
                        </div>
                        <!-- <div style="display: flex;">
                            <div *ngFor="let item of item.imagenes">
                                <img (click)="changeImage(item)" style="width:60px;height:50px;margin-right:5px;cursor:pointer;" class="" src="{{item}}" alt="Image Description">
                            </div>
                        </div> -->
                        <!-- End Box Shadow -->
                    </div>
                </div>
            </div>

            <div class="col-lg">
                <div style="height:300px;display: flex;flex-direction: column;justify-content: space-evenly;" class="imagebox u-shadow-v2 g-brd-around g-brd-gray-light-v4 g-line-height-2 g-pa-20 g-mb-20" role="alert">
                    <h3 class="h2 g-font-weight-300 text-uppercase" style="margin-bottom:0px !important">{{item.name}}</h3>
                    <div style="display: flex;align-items: center;margin-bottom: 10px;">
                        <p *ngIf="item.fechaInicio" style="margin-bottom: 0px !important;">Desde el {{item.fechaInicio}}</p><p *ngIf="item.fechaFin" style="margin: 0px 10px">al</p><p *ngIf="item.fechaFin" style="margin-bottom: 0px !important;"> {{item.fechaFin}} </p>
                      </div>
                    <div>
                        <p class="texto">{{ item.description | slice:0:270 }}<span (click)="gotoProjectDetail(item.id)" style="cursor: pointer;" *ngIf="item.description.length >= 270">(...)</span></p>
                        <!-- <p class="texto">{{item.description}}</p> -->
                    </div>
                    <a (click)="gotoProjectDetail(item.id)" style="border: 1px solid black !important; width: 130px;" class="btn btn-md g-bg-white g-color-black g-bg-black--hover g-color-white--hover u-btn-outline-black g-mr-10 g-mt-10">+ Saber más</a>
                </div>
                <div class="infobottom g-font-size-12 g-my-10 g-pl-10">
                    <div style="display:flex; align-items: center;">
                        <div style="cursor: pointer;" class="js-copy-markup u-link-v5  g-color-main g-mr-15 text-uppercase" href="#" data-content-target="#shortcode8" data-success-text="Copied">
                            <i class="icon-real-estate-020 u-line-icon-pro-g-valign-middle g-font-size-20 g-color-black"></i>
                            {{item.comunidad}}
                        </div>
                        <div class="js-modal-markup u-link-v5  g-color-main g-mr-15" href="#" data-content-target="#shortcode8" data-modal-target="#modalMarkup" data-modal-effect="fadein">
                            <i class="icon-user u-line-icon-pro-g-valign-middle g-font-size-20 g-color-black"></i>
                            {{item.initialPeople}}/{{item.necessaryPeople}}
                        </div>
                        <div *ngIf="item.participationType_time == 'tiempo'" class="js-modal-markup u-link-v5  g-color-main g-mr-15" href="#" data-content-target="#shortcode8" data-modal-target="#modalMarkup" data-modal-effect="fadein">
                            <i class="icon-hotel-restaurant-003 u-line-icon-pro g-font-size-20 g-color-black"></i>
                            {{item.requiredTime}} horas/{{item.periodTime}}
                        </div>
                        <div *ngIf="item.participationType_money == 'dinero'" class="js-modal-markup u-link-v5  g-color-main g-mr-15" href="#" data-content-target="#shortcode8" data-modal-target="#modalMarkup" data-modal-effect="fadein">
                            <i class="icon-finance-010 u-line-icon-pro g-font-size-20 g-color-black"></i>
                            {{item.requiredMoney}} €/{{item.periodMoney}}
                        </div>
                    </div>
                    <!-- <a (click)="gotoProjectDetail(item.name)" class="btn btn-md g-bg-black g-color-white g-bg-white--hover g-color-black--hover u-btn-outline-black g-mr-10 g-mt-5">Unirme</a> -->
                </div>
            </div>
          </div>
    </div>
</div>
