<router-outlet></router-outlet>

<!-- Footer -->
<footer class="g-bg-black-opacity-0_9 g-color-white-opacity-0_8 text-center g-pt-60 g-pb-40" style="bottom: 0;width: 100%;">
    <!-- Footer Content -->
    <div class="container">
      <a class="d-block g-width-200 g-opacity-0_5 mx-auto g-mb-30" href="index.html">
        <img class="img-fluid" src="http://localhost:4200/assets/img/imagenes/logo2_blanco.PNG" alt="Logo">
      </a>

      <ul class="list-inline g-mb-20">
        <li class="list-inline-item g-mx-5">
          <a class="u-icon-v2 u-icon-size--sm g-font-size-16 g-color-white-opacity-0_8 g-color-white--hover g-bg-primary--hover g-brd-white-opacity-0_2 g-brd-primary--hover rounded-circle" href="#">
            <i class="fa fa-twitter"></i>
          </a>
        </li>
        <li class="list-inline-item g-mx-5">
          <a class="u-icon-v2 u-icon-size--sm g-font-size-16 g-color-white-opacity-0_8 g-color-white--hover g-bg-primary--hover g-brd-white-opacity-0_2 g-brd-primary--hover rounded-circle" href="#">
            <i class="fa fa-pinterest-p"></i>
          </a>
        </li>
        <li class="list-inline-item g-mx-5">
          <a class="u-icon-v2 u-icon-size--sm g-font-size-16 g-color-white-opacity-0_8 g-color-white--hover g-bg-primary--hover g-brd-white-opacity-0_2 g-brd-primary--hover rounded-circle" href="#">
            <i class="fa fa-facebook"></i>
          </a>
        </li>
        <li class="list-inline-item g-mx-5">
          <a class="u-icon-v2 u-icon-size--sm g-font-size-16 g-color-white-opacity-0_8 g-color-white--hover g-bg-primary--hover g-brd-white-opacity-0_2 g-brd-primary--hover rounded-circle" href="#">
            <i class="fa fa-linkedin"></i>
          </a>
        </li>
      </ul>

      <div class="g-width-70x--md mx-auto">
        <p class="mb-0">Ayúdanos a difundir el proyecto, hazlo crecer.</p>
      </div>
    </div>
    <!-- End Footer Content -->

    <hr class="g-brd-white-opacity-0_2 g-my-40">

    <!-- <hr class="g-brd-white-opacity-0_2 g-my-40"> -->

    <!-- Copyright -->
    <div class="container">
      <small class="g-font-size-default">2023 All right reserved. Development by <a class="g-color-white" href="#">AppoyoMutuo</a>
      </small>
    </div>
    <!-- End Copyright -->
  </footer>
  <!-- End Footer -->