<div class="header">
  <h1 class="title">Preguntas Frecuentes</h1>
  <p class="subtitle">
    ¿Tienes dudas? Encuentra respuestas aquí.
  </p>
</div>

<div style="height: 100vh;">
  <div class="container">
    <div *ngFor="let item of faqItems" class="item">
      <div class="question" (click)="item.expanded = !item.expanded">
        {{ item.pregunta }}
        <mat-icon>{{ item.expanded ? 'expand_less' : 'expand_more' }}</mat-icon>
      </div>
      <div class="answer" [class.active]="item.expanded">{{ item.respuesta }}</div>
    </div>
  </div>
</div>