<!-- <label>
    <h1>¿Está seguro/a de que quiere hacer Log Out?</h1>
    <br/>
    <button class="btn btn-danger" (click)="logOut()"> 
        Log Out
    </button>
    &nbsp;
    <a class="btn btn-success" [routerLink]="['/perfil']"> 
        Volver
    </a>
</label> -->


<section class="g-bg-gray-light-v5">
    <div class="container g-py-100">
      <div class="row justify-content-center">
        <div class="col-sm-8 col-lg-5">
          <div class="u-shadow-v21 g-bg-white rounded g-py-40 g-px-30">
            <header class="text-center mb-4">
              <h2 class="h2 g-color-black g-font-weight-600">¿Seguro que quieres salir de tu cuenta?</h2>
            </header>
            <div style="display: flex;flex-direction: column;justify-content: center;align-items: center; width: 100%;">
              <button (click)="logOut()" style="width: 200px;margin-bottom: 10px;" class="btn btn-block u-shadow-v32 g-brd-white g-brd-2 g-color-white g-bg-black g-brd-black--hover g-bg-white--hover g-color-black--hover g-font-size-16 g-rounded-30 g-py-10 ml-2 g-mt-0" type="button">Logout</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>