.popupCard{
  height: 90vh !important;
  width: 90vw !important;
}

.popupContent{
  height: 100% !important;
  width: 100% !important;
  padding: 20px !important;
  overflow: hidden;
}

.map-container {
    position: absolute;
    top: 110px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 30px;
}

.map-frame {
  border: 2px solid black;
  height: 100%;
}

#map {
  height: 100vh;
}