<div class="col-lg-7" style="margin: auto; margin-top: 150px;margin-bottom: 150px;">
  <div *ngIf="!loading" class="g-brd-around g-brd-gray-light-v4 g-pa-20 g-mb-40 g-pt-50">
    <div class="row" style="min-height: 340px;">
      <div class="col-lg-4 g-mb-40 g-mb-0--lg">
        <!-- User Image -->
        <div *ngIf="noPhoto" class="g-mb-20">
          <img class="img-fluid w-100" src="../../../assets/img/imagenes/perfil.JPG" alt="Image Description">
        </div>
        
        <div *ngIf="!noPhoto" class="g-mb-20" style="display: flex;justify-content: center;align-items: center;margin: auto;">
          <img class="userPhoto" src="{{newUser.foto}}" alt="Image Description">
        </div>
        <!-- User Image -->
      </div>
  
      <div class="col-lg-8" style="padding-left: 5px !important;padding-right: 5px !important;">
        <!-- User Details -->
        <div class="d-flex align-items-center justify-content-sm-between g-mb-5">
          <h2 *ngIf="userMail" class="g-font-weight-300 g-mr-10">{{displayName}} ({{userMail}})</h2>
        </div>
        <!-- End User Details -->
  
        <!-- User Position -->
        <h4 *ngIf="newUser.short !== ''" class="h6 g-font-weight-300 g-mb-10">
            <i class="icon-badge g-pos-rel g-top-1 g-mr-5 g-color-gray-dark-v5"></i> {{newUser.short}}
        </h4>
        <h4 *ngIf="newUser.short == ''" class="h6 g-font-weight-300 g-mb-10">
          <i class="icon-badge g-pos-rel g-top-1 g-mr-5 g-color-gray-dark-v5"></i> Tu oficio, aficiones, descríbete en pocas palabras
        </h4>
        <!-- End User Position -->
  
        <!-- User Info -->
        <ul *ngIf="newUser.ubicacion !== ''" class="list-inline g-font-weight-300">
          <li class="list-inline-item g-mr-20">
            <i class="icon-location-pin g-pos-rel g-top-1 g-color-gray-dark-v5 g-mr-5"></i> {{newUser.ubicacion}}
          </li>
        </ul>
        <ul *ngIf="newUser.ubicacion === ''" class="list-inline g-font-weight-300">
          <li class="list-inline-item g-mr-20">
            <i class="icon-location-pin g-pos-rel g-top-1 g-color-gray-dark-v5 g-mr-5"></i> El lugar en el que vives
          </li>
        </ul>
        <!-- End User Info -->
  
        <hr *ngIf="newUser.descripcion !== ''" class="g-brd-gray-light-v4 g-my-20">
        <hr *ngIf="newUser.descripcion == ''" class="g-brd-gray-light-v4 g-my-20">
  
        <p *ngIf="newUser.descripcion !== ''" sclass="lead g-line-height-1_8">{{newUser.descripcion}}</p>
        <p *ngIf="newUser.descripcion == ''" sclass="lead g-line-height-1_8">Describete con más detalle para que las demás personas puedan conocerte mejor.</p>
  
        <hr class="g-brd-gray-light-v4 g-my-20">
        <div style="display: flex;justify-content: center; margin-top:50px;width: 100%;">
          <div style="display: flex;justify-content: center;">
            <button (click)="showPopup()" style="width: 150px;" class="btn btn-block u-shadow-v32 g-brd-white g-brd-2 g-color-white g-bg-black g-brd-black--hover g-bg-white--hover g-color-black--hover g-font-size-16 g-rounded-30 g-py-10 ml-2 g-mt-0" type="button">Editar Perfil</button>
          </div>
  
          <div style="display: flex;justify-content: center;">
            <a href="myprojects" style="width: 150px;" class="btn btn-block u-shadow-v32 g-brd-white g-brd-2 g-color-white g-bg-black g-brd-black--hover g-bg-white--hover g-color-black--hover g-font-size-16 g-rounded-30 g-py-10 ml-2 g-mt-0" type="button">Mis Proyectos</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="loading" style="display: flex;justify-content: center;width: 100%;min-height: 70vh;">
  <div class="spinner"></div>
</div>


<popup-editarperfil *ngIf="showPopUp" (closePopUp)=closePopUp() (updateUser)=updateUser($event) [usertoEdit]=usertoEdit></popup-editarperfil>