<section class="calendarioWrapper g-mb-100">
  <div class="container text-center g-max-width-750 g-mb-0" style="padding-top: 20px;">
    <div class="text-uppercase g-mb-30" style="margin-bottom: 50px;">
      <h3 class="h3 g-letter-spacing-5 g-font-size-12 g-font-weight-400 g-color-black g-mb-5" style="font-family:Poppins;">organiza tus tareas</h3>
      <div style="display: flex;align-items: center;justify-content: center;">
        <h2 class="u-heading-v2__title g-line-height-1 g-letter-spacing-2 g-font-size-30 g-font-size-40--md g-color-black mb-0" style="font-family:Poppins;">Calendario de Eventos</h2>
      </div>
      <h3 class="h3 g-letter-spacing-5 g-font-size-12 g-font-weight-400 g-color-black g-mb-5" style="font-family:Poppins;">Pulsa sobre la fecha para más información</h3>
    </div>
  </div>
  
  <div *ngIf="!loading" class="container">
    <full-calendar [options]="calendarOptions"></full-calendar>
  </div>
  <div *ngIf="loading" style="display: flex;justify-content: center;width: 100%;height: 40vh;margin-top: 50px;">
    <div class="spinner"></div>
  </div>
</section>


<popup-create-event *ngIf="showPopUp_CreateEvent" (closePopUp)=closePopUp() (createNewEvent)=createEvent($event) (editEvent)=editEvent($event) (deleteEvent)=deleteEvent($event) [startDate]="startDate" [eventoToRead]="eventoToRead" [isEditing]="isEditing"></popup-create-event>