<!-- SELECTOR CATEGORIAS -->
<section *ngIf="!hasCategoria"  class="g-bg-white g-py-100">
  <div class="categoriasWrapper">
    <div class="pieza" (click)="selectCategoria('agricultura_alimentacion')">
      <div class="logopieza"></div>
      <p class="categoriaTitle">Alimentación y Agricultura</p>
    </div>
    <div class="pieza" (click)="selectCategoria('autoempleo_educacion')">
      <div class="logopieza"></div>
      <p class="categoriaTitle">Autoempleo y Educación</p>
    </div>
    <div class="pieza" (click)="selectCategoria('salud_cuidados')">
      <div class="logopieza"></div>
      <p class="categoriaTitle">Salud y Cuidados</p>
    </div>
    <div class="pieza" (click)="selectCategoria('creacionartistica')">
      <div class="logopieza"></div>
      <p class="categoriaTitle">Creación Artística</p>
    </div>
    <div class="pieza" (click)="selectCategoria('espacios_vivienda')">
      <div class="logopieza"></div>
      <p class="categoriaTitle">Espacios y Vivienda</p>
    </div>
    <div class="pieza" (click)="selectCategoria('tecnologia_energia')">
      <div class="logopieza"></div>
      <p class="categoriaTitle">Tecnología y Energía</p>
    </div>
    <div class="pieza" (click)="selectCategoria('ocio_viajes')">
      <div class="logopieza"></div>
      <p class="categoriaTitle">Ocio y Viajes</p>
    </div>
    <div class="pieza" (click)="selectCategoria('acciones_asambleas')">
      <div class="logopieza"></div>
      <p class="categoriaTitle">Acciones y Asambleas</p>
    </div>
  </div>
</section>

<!-- CARRUSEL PROYECTOS -->
 <section *ngIf="proyectos && hasCategoria" id="proyectos" class="g-bg-white g-py-100">
  <div class="container text-center g-max-width-750 g-mb-0">
    <div class="text-uppercase g-mb-30">
      <h3 class="h3 g-letter-spacing-5 g-font-size-12 g-font-weight-400 g-color-black g-mb-15" style="font-family:Poppins;">Buscador de proyectos</h3>
      <div style="display: flex;align-items: center;justify-content: center;flex-direction: column;">
        <h2 class="u-heading-v2__title g-line-height-1 g-letter-spacing-2 g-font-size-30 g-font-size-40--md g-color-black mb-0" style="font-family:Poppins;">{{categoriaTransform}}</h2>
        <h2 class="h3 g-letter-spacing-5 g-font-size-12 g-font-weight-400 g-color-black g-mb-15 g-mt-15" style="font-family:Poppins;">({{totalProjects}})</h2>
        <!-- <i class="icon-media-058 u-line-icon-pro g-valign-middle g-font-size-25 g-color-black g-ml-10" style="cursor: pointer;"></i> -->
      </div>
      <div style="display: flex;justify-content: center;max-width: 300px;margin: auto;">
        <div (click)="showPopUpFilters()" style="width: 100px;height: 40px;background-color: black;display: flex;justify-content: center;align-items: center;margin: auto;cursor: pointer;">
          <i class="icon-education-092 u-line-icon-pro g-valign-middle g-font-size-20 g-color-white g-ml-10" style="cursor: pointer;"></i>
          <p style="color:White;margin:auto">FILTROS</p>
        </div>
        <div (click)="showAll()" style="width: 100px;height: 40px;background-color: black;display: flex;justify-content: center;align-items: center;margin: auto;cursor: pointer;">          
          <p style="color:White;margin:auto">Ver Todos</p>
        </div>
      </div>
    </div>
  </div>

  <project-list [data]="currentData"></project-list>
  <!-- <carrousel [data]="currentData"></carrousel> -->
</section>
<div *ngIf="loading" style="display: flex;justify-content: center;width: 100%;">
  <div class="spinner"></div>
</div>
<!-- End CARRUSEL PROYECTOS -->

<!-- POPUP FILTROS -->
<popup-filters *ngIf="showPopUp_Filters" (closePopUp)=closePopUpFilters() (showSearched)=showSearched($event) (changeCategory)="changeCategory($event)"></popup-filters>
<!-- End POPUP FILTROS -->