
/* You can add global styles to this file, and also import other style files */
/* Incluir Montserrat para el título */
h1, h3 {
    font-family: 'Montserrat', sans-serif;
  }
  
/* Incluir Open Sans para el texto */
p, a, label {
font-family: 'Open Sans', sans-serif;
}

h5{
  margin: 0px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
