.popupWrapper{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top:0;
    left: 0;
    z-index: 1000;
    animation-name: showPopUp;
    animation-duration: 0.5s;
}
@keyframes showPopUp {
    from {}
    to {}
}
.popupCard{
    width: 60vw;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 10px rgba(0, 0, 0, 0.2);
    animation-name: showPopUpCard;
    animation-duration: 0.8s;
    z-index: 1001;
    border-radius: 20px;
}
@keyframes showPopUpCard {
    from {transform: scale(0.8);opacity: 10%; z-index: 1001;}
    to {transform: scale(1);opacity: 100%;}
}
.popupHeader{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    height: 10%;
    padding-top: 15px;
}
.popupTitle{
    min-width: 90%;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 5px;
}
.popupContent{
    width: 100%;
    height: auto;
    padding: 50px 15%;
}