<div class="popupWrapper">
    <div class="popupCard">
        <div class="popupHeader">
            <div class="popupTitle">
                <h3>FILTROS</h3>
            </div>
            <button type="button" class="close" (click)="closeModal()">
                <i class="hs-icon hs-icon-close"></i>
            </button>
        </div>
        <div class="popupContent">
            <!-- Find a Course -->
            <div class="g-bg-img-hero g-bg-pos-top-center g-pos-rel g-z-index-1 g-mt-minus-150">
                <div class="container g-pt-150 g-pb-30">
                <form class="row">
                    <div class="col-xl-12 g-mb-30">
                        <div class="row">
                            <!-- CATEGORIA -->
                            <div class="col-sm-6 g-mb-50">
                                <label class="g-font-weight-500 g-font-size-15 g-pl-30">Categoría</label>
                                <select class="js-custom-select w-100 u-select-v2 u-shadow-v19 g-brd-none g-color-black g-color-primary--hover g-bg-white text-left g-rounded-30 g-pl-30 g-py-12" data-placeholder="all" data-open-icon="fa fa-angle-down" data-close-icon="fa fa-angle-up">
                                    <option value="default">-Elige una opción-</option>
                                    <option class="g-brd-secondary-light-v2 g-color-black g-color-white--active g-bg-primary--active" value="all">Todas</option>
                                    <option class="g-brd-secondary-light-v2 g-color-black g-color-white--active g-bg-primary--active" value="agricultura_alimentacion">Agricultura y Alimentación</option>
                                    <option class="g-brd-secondary-light-v2 g-color-black g-color-white--active g-bg-primary--active" value="autoempleo_educacion">Autoempleo y Educación</option>
                                    <option class="g-brd-secondary-light-v2 g-color-black g-color-white--active g-bg-primary--active" value="salud_cuidados">Salud y Cuidados</option>
                                    <option class="g-brd-secondary-light-v2 g-color-black g-color-white--active g-bg-primary--active" value="creacionartistica">Creación Artística</option>
                                    <option class="g-brd-secondary-light-v2 g-color-black g-color-white--active g-bg-primary--active" value="espacios_vivienda">Espacios y Vivienda</option>
                                    <option class="g-brd-secondary-light-v2 g-color-black g-color-white--active g-bg-primary--active" value="tecnologia_energia">Tecnología y Energía</option>
                                    <option class="g-brd-secondary-light-v2 g-color-black g-color-white--active g-bg-primary--active" value="ocio_viajes">Ocio y Viajes</option>
                                    <option class="g-brd-secondary-light-v2 g-color-black g-color-white--active g-bg-primary--active" value="acciones_asambleas">Acciones y Asambleas</option>
                                </select>
                            </div>

                            <!-- COMUNIDAD -->
                            <div class="col-sm-6 g-mb-50">
                                <label class="g-font-weight-500 g-font-size-15 g-pl-30">Comunidad</label>
                                <select class="js-custom-select w-100 u-select-v2 u-shadow-v19 g-brd-none g-color-black g-color-primary--hover g-bg-white text-left g-rounded-30 g-pl-30 g-py-12" data-placeholder="all" data-open-icon="fa fa-angle-down" data-close-icon="fa fa-angle-up">
                                    <option value="default">-Elige una opción-</option>
                                    <option value="andalucía">Andalucía</option>
                                    <option value="aragón">Aragón</option>
                                    <option value="asturias">Asturias</option>
                                    <option value="aalears">Illes Balears</option>
                                    <option value="aanarias">Canarias</option>
                                    <option value="aantabria">Cantabria</option>
                                    <option value="castillaleon">Castilla y León</option>
                                    <option value="acciones_asambleas">Castilla-La Mancha</option>
                                    <option value="cataluña">Cataluña</option>
                                    <option value="valencia">Comunitat Valenciana</option>
                                    <option value="extremadura">Extremadura</option>
                                    <option value="galicia">Galicia</option>
                                    <option value="madrid">Madrid</option>
                                    <option value="murcia">Murcia</option>
                                    <option value="navarra">Navarra</option>
                                    <option value="pasivasco">País Vasco</option>
                                    <option value="rioja">La Rioja</option>
                                    <option value="ceuta">Ceuta</option>
                                    <option value="melilla">Melilla</option>
                                </select>
                            </div>

                            <!-- TAGS -->
                            <div class="col-sm-6 g-mb-50">
                                <label class="g-font-weight-500 g-font-size-15 g-pl-30">Tags</label>
                                <input id="inputGroup1_1" class="form-control form-control-md rounded-0" type="text" placeholder="" name="tag">
                            </div>

                            <!-- <div class="col-sm-6 g-mb-50">
                                <label class="g-font-weight-500 g-font-size-15 g-pl-30">Ubicación</label>
                                <select class="js-custom-select w-100 u-select-v2 u-shadow-v19 g-brd-none g-color-black g-color-primary--hover g-bg-white text-left g-rounded-30 g-pl-30 g-py-12" data-placeholder="For" data-open-icon="fa fa-angle-down" data-close-icon="fa fa-angle-up">
                                    <option class="g-brd-secondary-light-v2 g-color-black g-color-white--active g-bg-primary--active" value="">All</option>
                                    <option class="g-brd-secondary-light-v2 g-color-black g-color-white--active g-bg-primary--active" value="alumni_and_friends">Alumni and friends</option>
                                    <option class="g-brd-secondary-light-v2 g-color-black g-color-white--active g-bg-primary--active" value="current_students">Current students</option>
                                    <option class="g-brd-secondary-light-v2 g-color-black g-color-white--active g-bg-primary--active" value="future_students">Future students</option>
                                    <option class="g-brd-secondary-light-v2 g-color-black g-color-white--active g-bg-primary--active" value="public">Public</option>
                                    <option class="g-brd-secondary-light-v2 g-color-black g-color-white--active g-bg-primary--active" value="staff">Staff</option>
                                </select>
                            </div> -->

                            <!-- APORTACION MONETARIA -->
                            <div class="col-sm-6 g-mb-50">
                                <label class="g-font-weight-500 g-font-size-15 g-pl-30">Aportación monetaria</label>
                                <select class="js-custom-select w-100 u-select-v2 u-shadow-v19 g-brd-none g-color-black g-color-primary--hover g-bg-white text-left g-rounded-30 g-pl-30 g-py-12" data-placeholder="For" data-open-icon="fa fa-angle-down" data-close-icon="fa fa-angle-up">
                                    <option class="g-brd-secondary-light-v2 g-color-black g-color-white--active g-bg-primary--active" value="all">Todos</option>
                                    <option class="g-brd-secondary-light-v2 g-color-black g-color-white--active g-bg-primary--active" value="0">0€</option>
                                    <option class="g-brd-secondary-light-v2 g-color-black g-color-white--active g-bg-primary--active" value="1">0€-10€</option>
                                    <option class="g-brd-secondary-light-v2 g-color-black g-color-white--active g-bg-primary--active" value="2">10€-50</option>
                                    <option class="g-brd-secondary-light-v2 g-color-black g-color-white--active g-bg-primary--active" value="3">+50€</option>
                                </select>
                            </div>

                            <!-- APORTACION TIEMPO -->
                            <div class="col-sm-6 g-mb-50">
                                <label class="g-font-weight-500 g-font-size-15 g-pl-30">Aportación tiempo</label>
                                <select class="js-custom-select w-100 u-select-v2 u-shadow-v19 g-brd-none g-color-black g-color-primary--hover g-bg-white text-left g-rounded-30 g-pl-30 g-py-12" data-placeholder="For" data-open-icon="fa fa-angle-down" data-close-icon="fa fa-angle-up">
                                    <option class="g-brd-secondary-light-v2 g-color-black g-color-white--active g-bg-primary--active" value="all">Todos</option>
                                    <option class="g-brd-secondary-light-v2 g-color-black g-color-white--active g-bg-primary--active" value="0">0h</option>
                                    <option class="g-brd-secondary-light-v2 g-color-black g-color-white--active g-bg-primary--active" value="1">0h-4h</option>
                                    <option class="g-brd-secondary-light-v2 g-color-black g-color-white--active g-bg-primary--active" value="2">4h-8h</option>
                                    <option class="g-brd-secondary-light-v2 g-color-black g-color-white--active g-bg-primary--active" value="3">+8h</option>
                                </select>
                            </div>

                            <!-- BOTONES -->
                            <div class="col-sm-12 g-mt-30 g-mb-30" style="display: flex;justify-content: center;align-items: center;width: 100%;">
                                <button (click)="buscar()" style="width: 200px;" class="btn btn-block u-shadow-v32 g-brd-black g-brd-2 g-color-black g-bg-white g-brd-black--hover g-bg-black--hover g-color-white--hover g-font-size-16 g-rounded-30 g-py-10 ml-2 g-mt-0" type="button">Buscar</button>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="col-xl-4 g-mb-30">
                    <label class="g-font-weight-500 g-font-size-15">Select single date</label>
                    <div id="datepickerInline" class="u-datepicker-v1 u-shadow-v32 g-brd-none rounded"></div>
                    </div> -->
                </form>
                </div>
            </div>
            <!-- End Find a Course -->
        </div>
    </div>
</div>